/* Navigation bar */

nav {
  display: flex;
  background-color: hsl(24, 100%, 45%);
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
  padding: 30px 20px;
}

.navbar-brand {
  font-size: 0.85rem;
  margin: 0 3px;
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
  font-weight: lighter;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

.hide {
  display: none;
}
