/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

.story-submit-labels {
  display: inline-block; 
}

.hide {
  display: none;
}

.trash-can:hover {
  color: #f22626;
}

hr {
  background-color: hsl(0, 0%, 85%);
  border: none;  
  height: 1px;
}

.story-author {
  color: hsl(120, 59%, 38%);
  display: block;
  padding: 5px 0px; 
  margin-left: 19px;
  font-size: .85rem; 
}

.story-user {
  display: block;
  color: hsl(40, 100%, 45%);
  margin-left: 19px;
  font-size: .85rem; 
}