../../../.zsh_sessions/
	../../PERSONAL-PROJECTS/
	../Exercises/
	../OFFICE HOUR PROJECT 10:18/
	../Practise/
	../SPRINGBOARD-PROJECTS/
	../Software Developer Pre-Work Springboard.pdf
	../Springboard Career Coaching Call Policies.pdf
	../Springboard Live Code Reveiw.pdf
	../Springboard Office Hours.pdf
	../Springboard_Software_Development_Career_Program_Syllabus_230105.pdf
	.gitignore
	../jQuery.mhtml
	../jeopardy/
	../../Shaylee-Baumgartner-Resume.pdf
	../../Slack-4.34.119-macOS (1).dmg
	../../Slack-4.34.119-macOS.dmg
	../../TW7GDH5I.pdf
	../../VSCode-darwin-universal.zip
	../../Visual Studio Code.app/
	../../practise/
	../../../Google Drive
	../../../Library/
../../PERSONAL-PROJECTS/
../../PERSONAL-PROJECTS/
